* {
    box-sizing: border-box;
}

body {
    background-color: #1d1f2f;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.movie-container {
    margin: 20px 0;
}

.movie-container select {
    padding: 5px 10px;
    border-radius: 5px;
}

.showcase {
    display: flex;
    justify-content: center;
    list-style: none;
    background: rgba(0,0,0,0.3);
    padding: 10px;
    border-radius: 5px;
}

.showcase li {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.seat {
    background-color: #444451;
    height: 15px;
    width: 15px;
    margin: 3px;
    border-radius: 50%;
}

.seat.selected {
    background-color: #6feaf6;
}

.seat.occupied {
    background-color: #fff;
}

.screen {
    background-color: #fff;
    height: 70px;
    width: 100%;
    margin: 20px 0;
    transform: skewX(-5deg);
    box-shadow: 0 3px 10px rgba(255,255,255,0.7);
}

.row {
    display: flex;
    justify-content: center;
}

.seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
}

.text {
    margin-top: 20px;
}
